<div class="card" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">{{this.title}}</h5>
		<a href='/threads/{{this.id}}' class="btn btn-primary">Join the Conversation</a>
	</div>
</div>